In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_excel("miuul_gezinomi.xlsx")
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

SaleId: Satış id

SaleDate : Satış Tarihi

CheckInDate: Müşterininotelegirişitarihi

Price: Satış için ödenen fiyat

ConceptName:Otel konsept bilgisi

SaleCityName: Otelin bulunduğu şehir bilgisi

CInDay:Müşterinin otele giriş günü

SaleCheckInDayDiff: Check in ile giriş tarihi gün farkı

Season:Otele giriş tarihindeki sezon bilgisi

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59164 entries, 0 to 59163
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SaleId              59164 non-null  int64
 1   SaleDate            59164 non-null  datetime64[ns]
 2   CheckInDate         59164 non-null  datetime64[ns]
 3   Price               59151 non-null  float64
 4   ConceptName         59164 non-null  object
 5   SaleCityName        59164 non-null  object
 6   CInDay              59164 non-null  object
 7   SaleCheckInDayDiff  59164 non-null  int64
 8   Seasons             59164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 4.1+ MB

In [8]:
df["SaleCityName"].value_counts()

df["ConceptName"].value_counts()

ConceptName
Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: count, dtype: int64

Soru5: Şehirlere göre satışlardan toplam ne kadar kazanılmış?

In [9]:
df.groupby("SaleCityName").agg({"Price": "sum"}).sort_values(by="Price")

                     Price
SaleCityName
Girne         2.706503e+04
Diğer         1.545723e+05
İzmir         1.659348e+05
Aydın         5.732960e+05
Muğla         6.658422e+05
Antalya       2.041911e+06

Soru6: Concept türlerine göre göre ne kadar kazanılmış?

In [10]:
df.groupby("ConceptName").agg({"Price": "sum"}).sort_values(by="Price")

                       Price
ConceptName
Oda + Kahvaltı  1.213084e+05
Yarım Pansiyon  1.744024e+05
Herşey Dahil    3.332911e+06

ikisi bir arada nasıl olur ?

In [11]:
df.groupby(["ConceptName" ,"SaleCityName" ]).agg({"Price": "sum"}).sort_values(by="Price")

                                    Price
ConceptName    SaleCityName
Yarım Pansiyon Aydın         9.305128e+02
Oda + Kahvaltı Aydın         1.309434e+03
               Girne         5.528799e+03
Yarım Pansiyon Muğla         8.437613e+03
Oda + Kahvaltı İzmir         9.421038e+03
Herşey Dahil   Girne         1.035418e+04
Yarım Pansiyon Girne         1.118205e+04
               Antalya       1.720080e+04
Oda + Kahvaltı Diğer         2.846250e+04
               Antalya       3.797588e+04
               Muğla         3.861070e+04
Herşey Dahil   Diğer         4.280940e+04
Yarım Pansiyon İzmir         5.335100e+04
               Diğer         8.330038e+04
Herşey Dahil   İzmir         1.031628e+05
               Aydın         5.710561e+05
               Muğla         6.187939e+05
               Antalya       1.986734e+06

Soru7: Şehirlere göre PRICE ortalamaları nedir?

In [15]:
df.groupby("SaleCityName").agg({"Price": ["mean", "sum"]}).sort_values(by=("Price", "mean"))

                  Price
                   mean           sum
SaleCityName
Diğer         47.707497  1.545723e+05
Aydın         53.855896  5.732960e+05
Girne         59.483579  2.706503e+04
Muğla         62.461746  6.658422e+05
Antalya       64.521474  2.041911e+06
İzmir         66.267905  1.659348e+05

Soru 8: Conceptlere göre PRICE ortalamaları nedir?

In [16]:
df.groupby("ConceptName").agg({"Price": "mean"}).sort_values(by="Price")

                    Price
ConceptName
Yarım Pansiyon  49.030742
Oda + Kahvaltı  50.252010
Herşey Dahil    62.672260

yine toplam ve ortalamayı birlikte göreyim :

In [19]:
df.groupby("ConceptName").agg({"Price": ["mean" , "sum"]}).sort_values(by=("Price", "mean"))

                    Price
                     mean           sum
ConceptName
Yarım Pansiyon  49.030742  1.744024e+05
Oda + Kahvaltı  50.252010  1.213084e+05
Herşey Dahil    62.672260  3.332911e+06

Soru 9: Şehir-Concept kırılımında PRICE ortalamaları nedir?

In [20]:
df.groupby(["SaleCityName", "ConceptName"]).agg({"Price": "mean"}).sort_values(by="Price")

                                 Price
SaleCityName ConceptName
Aydın        Yarım Pansiyon  30.016543
             Oda + Kahvaltı  34.458787
Diğer        Oda + Kahvaltı  37.599082
Girne        Oda + Kahvaltı  39.775536
İzmir        Oda + Kahvaltı  41.320342
Diğer        Yarım Pansiyon  42.113440
Muğla        Yarım Pansiyon  45.120924
Girne        Yarım Pansiyon  53.247838
Aydın        Herşey Dahil    53.995467
Muğla        Oda + Kahvaltı  59.037763
İzmir        Yarım Pansiyon  59.610053
Muğla        Herşey Dahil    63.020053
Antalya      Oda + Kahvaltı  63.504816
             Herşey Dahil    64.519028
             Yarım Pansiyon  67.190613
İzmir        Herşey Dahil    74.701519
Diğer        Herşey Dahil    84.771093
Girne        Herşey Dahil    97.680970

Görev 2: SaleCheckInDayDiff değişkenini kategorik bir değişkene çeviriniz.

• SaleCheckInDayDiff değişkeni müşterinin CheckIn tarihinden ne kadar önce satin alımını tamamladığını gösterir.

• Aralıkları ikna edici şekilde oluşturunuz.
        Örneğin: ‘0_7’, ‘7_30', ‘30_90', ‘90_max’ aralıklarını kullanabilirsiniz.

• Bu aralıklar için "Last Minuters", "Potential Planners", "Planners", "Early Bookers“ isimlerini kullanabilirsiniz.

In [30]:
# df["SaleCheckInDayDiff"] = pd.cut(df["SaleCheckInDayDiff"] , bins = [0,7,30,90,df["SaleCheckInDayDiff"].max()] , labels=["Last Minuters", "Potential Planners", "Planners", "Early Bookers"])
df["SaleCheckInDayDiff"]

0                  NaN
1                  NaN
2        Last Minuters
3        Last Minuters
4        Last Minuters
             ...
59159    Early Bookers
59160    Early Bookers
59161    Last Minuters
59162    Last Minuters
59163    Early Bookers
Name: SaleCheckInDayDiff, Length: 59164, dtype: category
Categories (4, object): ['Last Minuters' < 'Potential Planners' < 'Planners' < 'Early Bookers']

---------------------------------------------------------------------------
Görev 3: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?

Şehir-Concept-EB Score,

 Şehir-Concept- Sezon,
 
  Şehir-Concept-CInDay
                        kırılımında ortalama ödenen ücret ve yapılan işlem sayısı cinsinden

In [32]:
# Şehir-Concept-EB Score
df.groupby(["SaleCityName", "ConceptName" , "SaleCheckInDayDiff"]).agg({"Price": ["sum" , "count"]})

                                                        Price
                                                          sum  count
SaleCityName ConceptName    SaleCheckInDayDiff
Antalya      Herşey Dahil   Last Minuters       708494.552358  11592
                            Potential Planners  575955.432251   8874
                            Planners            304781.018542   4490
                            Early Bookers       218169.716842   3281
             Oda + Kahvaltı Last Minuters        16434.563705    270
...                                                       ...    ...
İzmir        Oda + Kahvaltı Early Bookers          200.784333      3
             Yarım Pansiyon Last Minuters        28275.596565    531
                            Potential Planners   12831.200589    198
                            Planners              2843.870693     47
                            Early Bookers          922.678158     14

[72 rows x 2 columns]

In [33]:
# Şehir-Concept- Sezon
df.groupby(["SaleCityName", "ConceptName" , "Seasons"]).agg({"Price": ["count" , "mean"]})

                                     Price
                                     count        mean
SaleCityName ConceptName    Seasons
Antalya      Herşey Dahil   High     27126   64.920065
                            Low       3667   61.552427
             Oda + Kahvaltı High       303   66.267969
                            Low        295   60.666730
             Yarım Pansiyon High       118   73.259029
                            Low        138   62.001678
Aydın        Herşey Dahil   High     10103   54.946560
                            Low        473   33.680699
             Oda + Kahvaltı High        27   30.387530
                            Low         11   44.451874
             Yarım Pansiyon High        20   32.626152
                            Low         11   25.271799
Diğer        Herşey Dahil   High       364   83.787273
                            Low        141   87.310882
             Oda + Kahvaltı High       349   34.839543
                            Low        408   39.959569
             Yarım Pansiyon High       516   39.731916
                            Low       1462   42.953978
Girne        Herşey Dahil   High        55  103.935448
                            Low         51   90.935944
             Oda + Kahvaltı High        66   39.479630
                            Low         73   40.043067
             Yarım Pansiyon High       100   58.383668
                            Low        110   48.578903
Muğla        Herşey Dahil   High      9582   63.384036
                            Low        237   48.304086
             Oda + Kahvaltı High       592   61.264691
                            Low         62   37.774192
             Yarım Pansiyon High       177   45.823698
                            Low         10   32.681812
İzmir        Herşey Dahil   High      1234   74.748363
                            Low        147   74.308287
             Oda + Kahvaltı High        86   54.141797
                            Low        142   33.555235
             Yarım Pansiyon High       118   87.657303
                            Low        777   55.350626

In [34]:
# Şehir-Concept-CInDay
df.groupby(["SaleCityName", "ConceptName" , "Seasons"]).agg({"Price": ["count" , "mean"]})

                                     Price
                                     count        mean
SaleCityName ConceptName    Seasons
Antalya      Herşey Dahil   High     27126   64.920065
                            Low       3667   61.552427
             Oda + Kahvaltı High       303   66.267969
                            Low        295   60.666730
             Yarım Pansiyon High       118   73.259029
                            Low        138   62.001678
Aydın        Herşey Dahil   High     10103   54.946560
                            Low        473   33.680699
             Oda + Kahvaltı High        27   30.387530
                            Low         11   44.451874
             Yarım Pansiyon High        20   32.626152
                            Low         11   25.271799
Diğer        Herşey Dahil   High       364   83.787273
                            Low        141   87.310882
             Oda + Kahvaltı High       349   34.839543
                            Low        408   39.959569
             Yarım Pansiyon High       516   39.731916
                            Low       1462   42.953978
Girne        Herşey Dahil   High        55  103.935448
                            Low         51   90.935944
             Oda + Kahvaltı High        66   39.479630
                            Low         73   40.043067
             Yarım Pansiyon High       100   58.383668
                            Low        110   48.578903
Muğla        Herşey Dahil   High      9582   63.384036
                            Low        237   48.304086
             Oda + Kahvaltı High       592   61.264691
                            Low         62   37.774192
             Yarım Pansiyon High       177   45.823698
                            Low         10   32.681812
İzmir        Herşey Dahil   High      1234   74.748363
                            Low        147   74.308287
             Oda + Kahvaltı High        86   54.141797
                            Low        142   33.555235
             Yarım Pansiyon High       118   87.657303
                            Low        777   55.350626

Görev 4: City-Concept-Season kırılımının çıktısını PRICE'a göre sıralayınız.

• Elde ettiğiniz çıktıyı agg_df olarak kaydediniz.

In [42]:
# City-Concept-Season
agg_df = df.groupby(["SaleCityName", "ConceptName" , "Seasons"]).agg({"Price" : "mean"}).sort_values(by = "Price", ascending = False)
agg_df.head()

                                          Price
SaleCityName ConceptName    Seasons
Girne        Herşey Dahil   High     103.935448
                            Low       90.935944
İzmir        Yarım Pansiyon High      87.657303
Diğer        Herşey Dahil   Low       87.310882
                            High      83.787273

Görev 5: Indekste yer alan isimleri değişken ismine çeviriniz.

Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir. Bu isimleri değişken isimlerine çeviriniz.

In [50]:
agg_df = agg_df.reset_index()
agg_df.head(10)

,index,SaleCityName,ConceptName,Seasons,Price,sales_level_based
0,0,Girne,Herşey Dahil,High,103.935448,Antalya_Herşey Dahil_Low
1,1,Girne,Herşey Dahil,Low,90.935944,Antalya_Yarım Pansiyon_Low
2,2,İzmir,Yarım Pansiyon,High,87.657303,Antalya_Herşey Dahil_High
3,3,Diğer,Herşey Dahil,Low,87.310882,İzmir_Yarım Pansiyon_Low
4,4,Diğer,Herşey Dahil,High,83.787273,İzmir_Yarım Pansiyon_Low
5,5,İzmir,Herşey Dahil,High,74.748363,İzmir_Yarım Pansiyon_Low
6,6,İzmir,Herşey Dahil,Low,74.308287,Antalya_Yarım Pansiyon_Low
7,7,Antalya,Yarım Pansiyon,High,73.259029,Antalya_Herşey Dahil_Low
8,8,Antalya,Oda + Kahvaltı,High,66.267969,İzmir_Yarım Pansiyon_Low
9,9,Antalya,Herşey Dahil,High,64.920065,Diğer_Yarım Pansiyon_Low

---------------------------------------------------------------------------
Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız

• Yeni seviye tabanlı satışları tanımlayınız ve veri setine değişken olarak ekleyiniz.

• Yeni eklenecek değişkenin adı: sales_level_based

• Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek sales_level_based değişkenini oluşturmanız gerekmektedir

In [49]:
agg_df["sales_level_based"] = df["SaleCityName"] + "_" + df["ConceptName"] + "_" + df["Seasons"]
agg_df.head()

  SaleCityName     ConceptName Seasons       Price           sales_level_based
0        Girne    Herşey Dahil    High  103.935448    Antalya_Herşey Dahil_Low
1        Girne    Herşey Dahil     Low   90.935944  Antalya_Yarım Pansiyon_Low
2        İzmir  Yarım Pansiyon    High   87.657303   Antalya_Herşey Dahil_High
3        Diğer    Herşey Dahil     Low   87.310882    İzmir_Yarım Pansiyon_Low
4        Diğer    Herşey Dahil    High   83.787273    İzmir_Yarım Pansiyon_Low

In [53]:
# veya
agg_df["sales_level_based"] = agg_df[["SaleCityName", "ConceptName" , "Seasons"]].agg(lambda x : "_".join(x).upper() , axis=1)
agg_df.head()

,index,SaleCityName,ConceptName,Seasons,Price,sales_level_based
0,0,Girne,Herşey Dahil,High,103.935448,GIRNE_HERŞEY DAHIL_HIGH
1,1,Girne,Herşey Dahil,Low,90.935944,GIRNE_HERŞEY DAHIL_LOW
2,2,İzmir,Yarım Pansiyon,High,87.657303,İZMIR_YARIM PANSIYON_HIGH
3,3,Diğer,Herşey Dahil,Low,87.310882,DIĞER_HERŞEY DAHIL_LOW
4,4,Diğer,Herşey Dahil,High,83.787273,DIĞER_HERŞEY DAHIL_HIGH

In [54]:
# veya
agg_df[["SaleCityName", "ConceptName" , "Seasons"]].apply(lambda x : "_".join(x).upper() , axis=1)

0         GIRNE_HERŞEY DAHIL_HIGH
1          GIRNE_HERŞEY DAHIL_LOW
2       İZMIR_YARIM PANSIYON_HIGH
3          DIĞER_HERŞEY DAHIL_LOW
4         DIĞER_HERŞEY DAHIL_HIGH
5         İZMIR_HERŞEY DAHIL_HIGH
6          İZMIR_HERŞEY DAHIL_LOW
7     ANTALYA_YARIM PANSIYON_HIGH
8     ANTALYA_ODA + KAHVALTI_HIGH
9       ANTALYA_HERŞEY DAHIL_HIGH
10        MUĞLA_HERŞEY DAHIL_HIGH
11     ANTALYA_YARIM PANSIYON_LOW
12       ANTALYA_HERŞEY DAHIL_LOW
13      MUĞLA_ODA + KAHVALTI_HIGH
14     ANTALYA_ODA + KAHVALTI_LOW
15      GIRNE_YARIM PANSIYON_HIGH
16       İZMIR_YARIM PANSIYON_LOW
17        AYDIN_HERŞEY DAHIL_HIGH
18      İZMIR_ODA + KAHVALTI_HIGH
19       GIRNE_YARIM PANSIYON_LOW
20         MUĞLA_HERŞEY DAHIL_LOW
21      MUĞLA_YARIM PANSIYON_HIGH
22       AYDIN_ODA + KAHVALTI_LOW
23       DIĞER_YARIM PANSIYON_LOW
24       GIRNE_ODA + KAHVALTI_LOW
25       DIĞER_ODA + KAHVALTI_LOW
26      DIĞER_YARIM PANSIYON_HIGH
27      GIRNE_ODA + KAHVALTI_HIGH
28       MUĞLA_ODA + KAHVALTI_LOW
29      DIĞER_ODA + KAHVALTI_HIGH
30         AYDIN_HERŞEY DAHIL_LOW
31       İZMIR_ODA + KAHVALTI_LOW
32       MUĞLA_YARIM PANSIYON_LOW
33      AYDIN_YARIM PANSIYON_HIGH
34      AYDIN_ODA + KAHVALTI_HIGH
35       AYDIN_YARIM PANSIYON_LOW
dtype: object

Görev 7: Yeni müşterileri (personaları) segmentlere ayırınız.
• Yeni personaları PRICE’a göre 4 segmente ayırınız.

• Segmentleri SEGMENT isimlendirmesi ile değişken olarak agg_df’e ekleyiniz.

• Segmentleri betimleyiniz (Segmentlere göre group by yapıp price mean, max, sum’larını alınız)

In [55]:
agg_df["SEGMENT"] = pd.qcut(agg_df["Price"], q=4, labels=["D","C","B","A"])

In [56]:
agg_df.groupby("SEGMENT").agg({"Price" : ["mean" ,"max" , "sum"]})

             Price
              mean         max         sum
SEGMENT
D        33.366288   39.479630  300.296592
C        44.887654   54.141797  403.988887
B        60.274498   64.920065  542.470478
A        82.467833  103.935448  742.210498

---------------------------------------------------------------------------
Görev 8: Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini tahmin ediniz.

 Antalya’da herşey dahil ve yüksek sezonda tatil yapmak isteyen bir kişinin ortalama ne kadar gelir kazandırması beklenir?
 
• Girne’de yarım pansiyon bir otele düşük sezonda giden bir tatilci hangi segmentte yer alacaktır?

In [58]:
new_customer = "ANTALYA_HERŞEY DAHIL_HIGH"
agg_df[agg_df["sales_level_based"] == new_customer]

,index,SaleCityName,ConceptName,Seasons,Price,sales_level_based,SEGMENT
9,9,Antalya,Herşey Dahil,High,64.920065,ANTALYA_HERŞEY DAHIL_HIGH,B

In [59]:
new_customer2 = "GIRNE_HERŞEY DAHIL_HIGH"
agg_df[agg_df["sales_level_based"] == new_customer2]

,index,SaleCityName,ConceptName,Seasons,Price,sales_level_based,SEGMENT
0,0,Girne,Herşey Dahil,High,103.935448,GIRNE_HERŞEY DAHIL_HIGH,A